<!DOCTYPE html>
<html>
<head>
	<title>Item Catalog</title>
</head>
<body>

{% extends "bootstrap/base.html" %}
{% block title %}Item Catalog{% endblock %}
{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
	<nav class="navbar navbar-expand-lg">
	  <a class="navbar-brand" href="#">Item Catalog</a>
	</nav>
{% if not session.profile %}
	<a href="{{ url_for('.login') }}" class="btn btn-primary active" role="button" aria-pressed="true">Login</a>
{% else %}
	<a href="{{ url_for('logout') }}" class="btn btn-primary active" role="button" aria-pressed="true">Logout</a>
{% endif %}	
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col">
				{% if session.profile %}
				<a href="{{ url_for('.newCategory') }}" class="btn btn-outline-primary" role="button">New Category</a>
				{% endif %}
				<h1>Categories</h1>
				{% for category in categories %}
				<p><a href="{{ url_for('.category', category=category.name) }}">{{ category.name }}</a></p>
				{% endfor %}
				</div>
				<div class="col">
				{% if session.profile %}
				<a href="{{ url_for('.newItem') }}" class="btn btn-outline-primary" role="button">New Item</a>
				{% endif %}
				<h1>Items</h1>
				{% for item in items %}
				<p><a href="{{ url_for('.item', category=item.category.name, item=item.name) }}">{{ item.name }} - </a>{{item.category.name}}</p>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

</body>
</html>